@mixin flex-center($direction: row) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: center;
}

////////////////////////////////////////////////////////////////////////////////
body {
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  @include flex-center(column);
}
.content {
  @include flex-center(column);
}

// button {
//   margin-top: 8px;
//   background-color: aqua;
// }

.wrapperImg {
  @include flex-center();
  width: 500px;
  height: 600px;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.headers {
  display: flex;
  align-items: center;
  justify-content: space-around;

  .header_setting {
    width: 32px;
    height: 32px;
    cursor: pointer;
  }
}

.btnCollection {
  display: flex;
  justify-content: space-around;
  button {
    appearance: none;
    background-color: transparent;
    border: 0.125em solid #1a1a1a;
    border-radius: 0.9375em;
    box-sizing: border-box;
    color: #3b3b3b;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 3.75em;
    min-width: 0;
    outline: none;
    padding: 1em 2.3em;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;

    &:disabled {
      pointer-events: none;
    }

    &:hover {
      color: #fff;
      background-color: #1a1a1a;
      box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
      transform: translateY(-2px);
    }
    &:active {
      box-shadow: none;
      transform: translateY(0);
    }

    &.active {
      color: #fff;
      background-color: #1a1a1a;
      box-shadow: none;
      transform: translateY(0);
      cursor: not-allowed;
    }
  }
}

//spinner
// 變數
$uib-size: 50px;
$uib-speed: 1.2s;
$uib-color: #474554;

.spin {
  position: relative;

  @include flex-center();
  display: none;

  width: $uib-size;
  height: $uib-size;

  &__dot {
    position: relative;
    display: flex;
    align-items: center;
    width: 25%;
    height: 100%;
    transform-origin: center top;

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 25%;
      border-radius: 50%;
      background-color: $uib-color;
    }

    &:first-child {
      animation: swing $uib-speed linear infinite;
    }

    &:last-child {
      animation: swing2 $uib-speed linear infinite;
    }
  }
}

// 動畫
@keyframes swing {
  0% {
    transform: rotate(0deg);
    animation-timing-function: ease-out;
  }

  25% {
    transform: rotate(70deg);
    animation-timing-function: ease-in;
  }

  50% {
    transform: rotate(0deg);
    animation-timing-function: linear;
  }
}

@keyframes swing2 {
  0% {
    transform: rotate(0deg);
    animation-timing-function: linear;
  }

  50% {
    transform: rotate(0deg);
    animation-timing-function: ease-out;
  }

  75% {
    transform: rotate(-70deg);
    animation-timing-function: ease-in;
  }
}

// options

fieldset {
  border: 0;
  display: flex;

  legend {
    // display: flex;
    // color: red;
    // background-color: #3b3b3b;
    width: 100%;
    margin: 1.25rem 0 0 1rem;
    font-size: 1rem;
    font-weight: bold;
  }

  .option_button-group {
    flex-grow: 1;
    margin: auto;

    input[type="radio"] {
      display: none;

      &:checked + label {
        background-color: white;
        color: #02375a;
        border: 1px solid #2b426d;
      }
    }

    label {
      display: inline-block;
      padding: 10px 20px;
      cursor: pointer;

      border: 1px solid #2b426d;
      background-color: #385c7e;
      color: white;

      border-radius: 15px;
      transition: all 0.2s ease;
      text-align: center;

      flex-grow: 1;
      flex-basis: 0;
      width: 90px;

      font-size: 13px;
      margin: 5px;
      box-shadow: 0px 0px 50px -15px #000;
    }
  }
}
