@mixin flex-center($direction: row) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: center;
}

////////////////////////////////////////////////////////////////////////////////
body {
  margin: 0;
  padding: 10px;

  @include flex-center(column);
}
.content {
  @include flex-center(column);
}

// button {
//   margin-top: 8px;
//   background-color: aqua;
// }

.wrapperImg {
  width: 500px;
  height: 600px;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.headers {
  display: flex;
  align-items: center;
  justify-content: space-around;

  .header_setting {
    width: 32px;
    height: 32px;
    cursor: pointer;
  }
}

.btnCollection {
  display: flex;
  justify-content: space-around;
  button {
    appearance: none;
    background-color: transparent;
    border: 0.125em solid #1a1a1a;
    border-radius: 0.9375em;
    box-sizing: border-box;
    color: #3b3b3b;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 3.75em;
    min-width: 0;
    outline: none;
    padding: 1em 2.3em;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;

    &:disabled {
      pointer-events: none;
    }

    &:hover {
      color: #fff;
      background-color: #1a1a1a;
      box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
      transform: translateY(-2px);
    }
    &:active {
      box-shadow: none;
      transform: translateY(0);
    }

    &.selected,
    &.default {
      color: #fff;
      background-color: #1a1a1a;
      box-shadow: none;
      transform: translateY(0);
      cursor: not-allowed;
    }
  }
}
